.imageView {
    max-width: 600px;
    flex-grow: 1;
}

.header {
    display: flex;
    align-items: center;
    height: 50;
}

.img {
    height: 255;
    display: block;
    max-width: 400;
    overflow: hidden;
    width: 100%;

    background-color: red;
    color: white;
}