*.bash     text eol=lf
*.sh       text eol=lf
*.bat      text eol=crlf
*.py     text diff=python
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
*.svg      text


.gitattributes export-ignore
.gitignore     export-ignore