flask
wget
python-dotenv
numpy
requests
sqlalchemy
scikit_image
pycocotools
matplotlib
opencv-python==3.4.2.16
opencv-contrib-python==3.4.2.16
mrcnn
colorama
keras
tensorflow
IPython 
gitPython
tqdm 
imutils
imgaug