$progress-height: 20px;


.outside {
    border-style: solid;
    border-color: black;
    height: $progress-height;
    background-color: silver;
    width: inherit;
}
.inside {
    height: 100%;
    background-color: transparent;
    z-index: 9999;
    float: left;
}  

.controls {
    display: flex;
    justify-content: space-between;
}

.pointsContainer {
    display: flex;
    margin-top: -$progress-height;
}

.progress {
    z-index: 1;
    background-color: tomato;
    height: 100%;
}