{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<a href="/settings">Настройка всего</a>
<video id="mainvideo"  style=" width: 1000px; height: 563px;" src="{{ url_for('static', filename='img/1.mp4') }}" controls>
    Sorry, your browser doesn't support embedded videos, 
    but don't worry, you can <a href="{{ url_for('static', filename='img/1.mp4') }}">download it</a>
    and watch it with your favorite video player!
  </video>

<p>Внимание, pyback не запущен</p>

{% endblock %}