.outside {
    border: 1px solid black;
    height: 20px;
    background-color: silver;
}
.inside {
    height: 100%;
    background-color: firebrick;
    overflow: visible;
    color: white;
    white-space: nowrap;
}  