
.header {
    display: flex;
    margin: 0;
    background-color: hsl(210, 78%, 82%);
}
.menuButton {

}

.title {
    text-decoration: none !important;
    color: black !important;
}

.selected {
    color: white !important;
}