
.header {
    display: flex;
    margin: 0;
    align-items: flex-end;
    background-color: hsl(210, 78%, 82%);
}
.menuButton {
    margin-right: 10px;
    align-items: flex-end;
}

.title {
    text-decoration: none !important;
    color: white !important;
}