version: '3.3'

services:
  pyback:
    container_name: pyback
    image: sapfir0/premier-eye:cpu
    build:
      dockerfile: FastDockerfile
      context: .
    volumes:
      - ./data:/data
      - ./output:/output
#    networks:
#      - web-premier-eye_some-net
    environment:
      - DOCKER_LOCAL_ADDRESS=http://172.30.0.2
    env_file:
      - .env


#
#networks:
#  web-premier-eye_some-net:
#    external:
#      true
