
.header {
    flex-grow: 1;
    align-items: flex-end;
}

.header__title {
    flex-grow: 1;
    text-decoration: none;
    color: white;
}

.header__menuButton {
    margin-right: 2rem;
    align-items: flex-end
}

