/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

*  {
    background-color: wheat;
    user-select: none;
    /* -webkit-tap-highlight-color:transparent; */
}

*:focus  {
    outline: none;
}

.toggle-button-cover  {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 100px;
    height: 50px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer {
    border-radius: 100px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#button-18 .knobs:before, #button-18 .knobs span {
    content: 'Image-AI';
    position: absolute;
    top: 4px;
    left: 4px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    background-color: #03A9F4;
    border-radius: 2px;
}

#button-18 .knobs:before {
    top: 25%;
    left: 8px;
    width: 40px;
    height: 20px;
    margin-top: -5px;
    background-color: transparent;
    z-index: 2;
}

#button-18 .knobs span {
    width: 40px;
    height: 20px;
    padding: 9px 4px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    z-index: 1;
}

#button-18 .checkbox:active + .knobs:before {
    left: 10px;
    width: 46px;
    height: 4px;
    color: transparent;
    margin-top: -2px;
    background-color: #0095d8;
    transition: 0.3s ease all;
    overflow: hidden;
}

#button-18 .checkbox:active + .knobs span {
    width: 74px;
}

#button-18 .checkbox:checked:active + .knobs:before {
    left: auto;
    right: 10px;
    background-color: #d80000;
}

#button-18 .checkbox:checked:active + .knobs span {
    margin-left: -38px;
}

#button-18 .checkbox:checked + .knobs:before {
    content: 'MASK-CNN';
    left: 47px;
}

#button-18 .checkbox:checked + .knobs span {
    left: 42px;
    background-color: #F44336;
}

/* #button-18 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}  */